<h2>All Horses</h2>

<a href="/horses/add" class="btn">+ Add New Horse</a>


<table border="1" cellpadding="8">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Base Speed</th>
      <th>Base Stamina</th>
      <th>Base Gut</th>
      <th>Base Strength</th>
      <th>Base Wit</th>
      <th>Style</th>
      <th>Preferred Distance</th>
      <th>Preferred Surface</th>
      <th>Support Card ID</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each horses}}
      <tr>
        <td>{{this.horse_id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.base_speed}}</td>
        <td>{{this.base_stamina}}</td>
        <td>{{this.base_gut}}</td>
        <td>{{this.base_strength}}</td>
        <td>{{this.base_wit}}</td>
        <td>{{this.style}}</td>
        <td>{{this.preferred_race_distance}}</td>
        <td>{{this.preferred_race_surface}}</td>
        <td>
          {{#if this.card_id}}
            {{this.card_id}} - {{this.support_card_name}}
          {{else}}
            -
          {{/if}}
        </td>
        <td>
          <a href="/horses/edit/{{this.horse_id}}" class="btn btn-edit">Edit</a>
          <a> | </a>
          <a href="/horses/delete/{{this.horse_id}}" class="btn btn-delete">Delete</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
