<h2>Edit Support Card</h2>

<form action="/support-cards/edit/{{card.card_id}}" method="POST">
  <label for="name">Card Name:</label><br>
  <input type="text" id="name" name="name" value="{{card.name}}" required><br><br>

  <label for="stat_boosted">Stat Boosted:</label><br>
  <select id="stat_boosted" name="stat_boosted" required>
    <option value="Speed" {{card.speedSelected}}>Speed</option>
    <option value="Stamina" {{card.staminaSelected}}>Stamina</option>
    <option value="Power" {{card.powerSelected}}>Power</option>
    <option value="Guts" {{card.gutsSelected}}>Guts</option>
    <option value="Wisdom" {{card.wisdomSelected}}>Wisdom</option>
  </select><br><br>

  <label for="boost_amount">Boost Amount:</label><br>
  <input type="number" id="boost_amount" name="boost_amount" value="{{card.boost_amount}}" required><br><br>

  <button type="submit">Save Changes</button>
  <a href="/support-cards" class="btn btn-cancel">Cancel</a>

</form>