<h2>All Support Cards</h2>

<a href="/support-cards/add" class="btn">+ Add New Support Card</a>

<table border="1" cellpadding="8">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Boosted Stat</th>
      <th>Boost Amount</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each cards}}
      <tr>
        <td>{{this.card_id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.stat_boosted}}</td>
        <td>{{this.boost_amount}}</td>
        <td>
          <a href="/support-cards/edit/{{this.card_id}}" class="btn btn-edit">Edit</a>
          <a> | </a>
          <a href="/support-cards/delete/{{this.card_id}}" class="btn btn-delete">Delete</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
