<h2>Edit Spark Horse Assignment</h2>

<form action="/horses-sparks/edit/{{assignment.horse_spark_id}}" method="POST">
  <label for="horse_id">Horse:</label><br>
  <select id="horse_id" name="horse_id" required>
    {{#each horses}}
      <option value="{{this.horse_id}}" {{this.selected}}>{{this.name}}</option>
    {{/each}}
  </select><br><br>

  <label for="spark_id">Spark:</label><br>
  <select id="spark_id" name="spark_id" required>
    {{#each sparks}}
      <option value="{{this.spark_id}}" {{this.selected}}>{{this.name}}</option>
    {{/each}}
  </select><br><br>

  <button type="submit" class="btn">Save Changes</button>
  <a href="/horses-sparks" class="btn btn-cancel">Cancel</a>
</form>
