<h2>All Sparks</h2>

<a href="/sparks/add" class="btn">+ Add New Spark</a>

<table border="1" cellpadding="8">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Boosted Stat</th>
      <th>Star Rating</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each sparks}}
      <tr>
        <td>{{this.spark_id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.stat_boosted}}</td>
        <td>{{this.star_amount}}</td>
        <td>
          <a href="/sparks/edit/{{this.spark_id}}" class="btn btn-edit">Edit</a>
          <a> | </a>
          <a href="/sparks/delete/{{this.spark_id}}" class="btn btn-delete">Delete</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
